.containerGlobal {
  overflow: auto;
}
/*estilos constantes*/
h1 {
  color: #fff;
  font-size: 55px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
  display: none;
  color: #fff;
  font-size: 30px;

}
 p {
  color: #fff;
  font-size: 30px;
}
/*comienzan estilos por cada container*/
.container1 {
  background-color: #31827c;
  width: 100%;
  height: 45vh;
  padding: 5vh;
  overflow: hidden;
  
}

.container1 img {
  width: 40vh;
  height: 40vh;
  position: relative;
  float:right;
  bottom: 3vh;
}


.container2 {
  background-color: #fc8a80;
  width: 100%;
  width: 100%;
  height: 45vh;
  
}
.Texto{
  height: 30px;
}
.Texto p {
  position: relative;
  float: right;
  top:30vh;
  margin: 4%,4%,4%,4%;
}

.ver_mas_btn {
  background-color: rgba(201, 27, 27, 0.795);
  border: 11px;
  color: white
}

.container2 img {
  float: left;
  clip-path: polygon(0% 0%, 75% 0%, 100% 100%, 75% 100%, 0% 100%);
  width: 70vh;
  height: 40vh;
}

.container3 {
  background-color: #95C68F;
  width: 100%;
  padding: 5vh;
}

.container3 img {
  width: 70vh;
  height: 40vh;
  position: relative;
  left: 50%;
  bottom: 9vh;
  overflow: hidden;

  clip-path: polygon(0 100%, 43% 0, 100% 0, 100% 99%, 0% 100%);
}


/*Animacion de botones*/


.btn34,
.btn34 *,
.btn34 :after,
.btn34 :before,
.btn34:after,
.btn34:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn34 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  color: #fff;
  border-color: #31827c;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
  position: relative;
  left: 80vh;
  float: left;
  top: 20%;
}

.btn34:disabled {
  cursor: default;
}

.btn34:-moz-focusring {
  outline: auto;
}

.btn34 svg {
  display: block;
  vertical-align: middle;
}

.btn34 [hidden] {
  display: none;
}

.btn34 {
  border-radius: 99rem;
  border-width: 2px;
  overflow: hidden;
  padding: 0.8rem 3rem;
  position: relative;
}

.btn34:hover {
  transform: scale(1.1);
}

.btn34 span {
  font-weight: 900;
  mix-blend-mode: difference;
}

.btn34:before {
  aspect-ratio: 1;
  background: #fff;
  border-radius: 50%;
  content: "";
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.2s;
  width: 0;
}

.btn34:hover:before {
  width: 100%;
}





.btn35,
.btn35 *,
.btn.btn35 :before,
.btn35:after,
.btn35:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn35 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  color: #fff;
  border-color: #31827c;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
  position: relative;
  left: 15vh;

  bottom: 10vh;
}

.btn35:disabled {
  cursor: default;
}

.btn35:-moz-focusring {
  outline: auto;
}

.btn35 svg {
  display: block;
  vertical-align: middle;
}

.btn35 [hidden] {
  display: none;
}

.btn35 {
  border-radius: 99rem;
  border-width: 2px;
  overflow: hidden;
  padding: 0.8rem 3rem;
  position: relative;
}

.btn35:hover {
  transform: scale(1.1);
}

.btn35 span {
  font-weight: 900;
  mix-blend-mode: difference;
}

.btn35:before {
  aspect-ratio: 1;
  background: #fff;
  border-radius: 50%;
  content: "";
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.2s;
  width: 0;
}

.btn35:hover:before {
  width: 100%;
}


/*Media Querys*/

@media (max-width: 600px) {

  /*primer container*/
  .containerGlobal{
    overflow: hidden;
  }
  .container1 {
    width: 100%;
    height: 31%;
    padding: 7vh;
  }

  .container1 img {
    width: 20vh;
    height: 20vh;
    position: relative;
    right: 25%;
    margin: auto;
    bottom: 3vh;
  }
  .text1{
    text-align: center;
    position: relative;
    top: 10vh;
    left: 21%;
    margin-top: 10vh;
    margin-bottom: 10vh;
  }
  .text1 h1{
    position: relative;
    bottom:0%;
    font-size: 15px;
    text-align: center;
  }
  .text1 p{
    display: none;
    margin: 0px,0px,0px,0px;
    position: relative;
    bottom:30%;
    font-size: 15px;  
  }
  h2{
    display: block;
    margin: 0px,0px,0px,0px;
    position: relative;
    bottom:30%;
    font-size: 15px;  
    color: #fff;

  }

  h1 {
    font-size: 24px;
  }

  p {
    font-size: 15px;
  }

  /*segundo container*/

  .btn34{
    position: relative;
    left: 29%;
    top: 10vh;
  }

  .container2 p {
    position: relative;
    left: 27vh;
    text-align: center;
    font-size: 15px;
    
    
  }

  .ver_mas_btn {
    background-color: rgba(201, 27, 27, 0.795);
    border: 11px;
    color: white;
  }

  .container2 img {
    position: relative;
    top: 1vh;
    left: 30%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 100% 100%, 0% 100%);
    width: 25vh;
    height: 15vh;
  }
  /*tercer container*/

  .container3 h1{
    position: relative;
    left: 30%;
  }
  .Texto p {
    position: relative;
    text-align: center;
    
    position: relative;
    top: 70%;
    left: -1%;
    word-wrap: break-word;
    
  }

  .ver_mas_btn {
    background-color: rgba(201, 27, 27, 0.795);
    border: 11px;
    color: #fff;
    position: relative;
    bottom: 5vh;
  }

  .container3 img {
    position: relative;
    bottom: 5vh;
    left: 25%;

    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 100% 100%, 0% 100%);
    width: 25vh;
    height: 15vh;
  }
  .btn35{
    position: relative;
    top: 19vh;
    left: 20%;
  }


}

.link {
  color: #fff;
  text-decoration: none;
}
