.contendor{
    overflow: hidden;
    height: auto;
    width: 100%;
    height: auto;
}

.name{
    width: 100%;
    height: auto;
}
 .name h1 {    color:#000;
    font-size: 30px;
    font-family: 'Arial'; 
    position: relative;
    left: 28vh;
}
.contenido{
    width: auto;
    height: auto;
}

.contenido p {
    text-align: justify;
    opacity: 0.8;
    width:100vh;
    color:#000;
    font-size: 18px;
    font-family: 'Arial'; 
    position: relative;
    left: 28vh;
    bottom: 21vh;
}
.image{
    width: 100%;
    height: auto;
}

.image img {
    width: 25vh;
    height: 25vh;
    border-radius: 100%;
    background-color: #52E396;
    position: relative;
}

/*Media Querys*/

@media (max-width: 600px){
    .contenedor{
        background-color: rgb(0, 23, 228);
        font-size: 12px;
        width: 100%;
        word-wrap: break-word;
        padding: 2vh;

    }
     .image img{
        border-radius: 100%;
        position: relative;
        left:20%;
        top: 0vh;
        bottom: 30vh;
        overflow: auto;
        display: flex;
        justify-content: center;
    }
    .name h1{
        color:#000;
        font-size: 30px;
        font-family: 'Arial'; 
        position: relative;
        left: 3%;
    }

     .contenido p{    
        color:rgb(0, 0, 0);
        font-size: 18px;
        font-family: 'Arial'; 
        position: relative;
        top: 10%;
        bottom: 70%;
        width:100%;
        position: relative;
        left: 0vh;
 
     
    }

    
}